<div class="ui inverted vertical footer segment">
    <div class="ui center aligned wide container">
        <div class="ui stackable inverted divided grid">
            <div class="seven wide column">
                <h4 class="ui inverted header">What is Developer Hub</h4>
                <p>Looking for reliable coding guidance? Look no further than Developer Hub! Our platform boasts a vast
                    community of experts, providing fast and accurate solutions to your coding queries. Join us now to
                    connect with fellow developers and enhance your coding skills.</p>
            </div>
            <div class="four wide column">
                <h4 class="ui inverted header">Contact Us</h4>
                <div class="ui inverted link list">
                    <a href="mailto:command@cmdstr.dev" class="item">Email</a>
                    <a href="https://discord.gg/TgrcSkuDtQ" class="item">Discord</a>
                </div>
            </div>
            <div class="five wide column">
                <h4 class="ui inverted header">Newsletter</h4>
                <p>Register for our weekly newsletter to receive information about feature updates!</p>
                <div class="ui fluid icon input">
                    <input type="email" placeholder="Email Address">
                    <i class="search link icon"></i>
                </div>

                <button class="ui violet fluid labeled icon centered button"><i class="newspaper icon"></i> Sign
                    Up</button>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <img src="/img/logo.png" class="ui centered tiny image">
        <div class="ui horizontal inverted small divided link list">
            <a class="item" href="/cookies">Cookie Agreement</a>
            <a class="item" href="/privacy">Privacy Policy</a>
            <a href="https://github.com/CommandString/DevHub/" class="item">Source Code</a>
        </div>
    </div>
</div>