@import "./colors";

#main {
    img {
        display: inline-block !important;
        margin-right: 5px;

        &+div {
            display: inline-block;
            vertical-align: top;
            padding: 20px 0px;
        }
    }

    [data-tab="questions"] {
        &.segment {

            &.not-empty {
                padding: 0 !important;
            }

            .item {
                padding: 14px;
            }
        }

        .tags {
            margin-top: 5px;
            height: 25px;
            overflow: hidden;
            line-height: 25px;
            width: inherit;
        }
    }

    .ui.inverted.list .item a:not(.ui) {
        color: darken($secondary, 20) !important;
        transition: 0.2s !important;

        &:hover {
            color: $secondary !important;
        }
    }

    .editable {
        // [property="pfp"] {
        //     &:hover {
        //         filter: drop-shadow(0px 0px 4px $secondary);
        //     }

        //     transition: 0.2s;
        //     cursor: pointer;
        // }

        [property="email"],
        [property="name"],
        [property="username"], [property="password"] {
            &:hover {
                color: $secondary;
            }

            cursor: pointer;
            transition: 0.2s;
        }
    }
}