#main {
    #search + .divider {
        margin-bottom: 0 !important;
    }

    #questions.list {
        margin-top: 0 !important;

        .item {
            padding: 14px;
        }

        .tags {
            margin-top: 5px;
            height: 25px;
            overflow: hidden;
            line-height: 25px;
            width: inherit;
        }
    }

    min-height: 600px;
}